fieldset {
  width: 30%;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgb(119, 109, 109),
    rgb(26, 230, 104)
  );
  border: none;
  border-radius: 5px;
}

button {
  background-image: linear-gradient(90deg, rgb(40, 71, 41), rgb(161, 32, 221));
  color: white;
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 20px;
}

#hello {
  background-image: linear-gradient(90deg, rgb(37, 32, 37), rgb(233, 25, 181));
  color: white;
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 20px;
}

#in1,
#in2 {
  height: 25px;
  border-radius: 10px;
  border: none;
}
